name: release
on:
  push:
    tags:
      - '*'
jobs:
  release:
    name: Publish a release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: matteodelabre
          password: ${{ secrets.CR_PAT }}
      - name: Build and publish images
        run: |
          version="$(echo "${{ github.ref }}" | cut -d / -f 3)"
          ./scripts/build -p . "$version"
